{
	"outbound":
	[
		{
			"protocol": "*",
			"peers":
			[
				"A",
				"C"
			]
		}
	],	
	"inbound":
	[	
		{
			"protocol":"UDP",
			"peers":
			[
				"A"
			]
		},
		{
			"protocol":"TCP",
			"peers":
			[
				"A"
			]
		},
		{
			"protocol":"*",
			"peers":
			[
				"A"
			]
		}
	]
}