{
    "outbound":
    {
        "110.0.0.0/24":
        [
            {
                "protocol": "ICMP",
                "time": "*",
                "peer": "C"
            }
        ],
        "120.0.0.0/24":
        [
            {
                "protocol": "*",
                "time": "*",
                "peer": "C"
            }
        ],
        "130.0.0.0/24":
        [
            {
                "protocol": "*",
                "time": "6, 6",
                "peer": "B"
            },
            {
                "protocol": "*",
                "time":"*",
                "peer": "C"
            }
        ]
    },

    "inbound":
    {
        "140.0.0.0/24":
        [
            {
                "protocol": "*",
                "time": "*",
                "peer": "*"
            }
        ]
    }
}