{
    "outbound":
    {
        "120.0.0.0/24":
        [
            {
                "protocol": "*",
                "time": "6,7",
                "peer": "B"
            },
            {
                "protocol": "*",
                "time": "*",
                "peer": "C"
            }
        ],
        "130.0.0.0/24":
        [
            {
                "protocol": "*",
                "time": "6,7",
                "peer": "C"
            },
            {
                "protocol": "*",
                "time": "2,3",
                "peer": "B"
            }
        ]
    },

    "inbound":
    {
        "140.0.0.0/24":
        [
            {
                "protocol": "*",
                "time": "*",
                "peer": "*"
            }
        ]
    }
}